extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .wrapper
        .maincontent
            .section.main
                .main_img
                    img.main_img(src="/assets/images/index/main_bg.png", alt="фон")
                    label(for="autorization")
                        input#autorization(name="autorization" type="submit" value="Авторизация")
                
                .user.main-user
                    include ../common/_user
                    include ../common/_socials
                    include ../common/menu
                
                .copir &#169 Александр Никулин | создано с любовью в Loftschool | 2018
                    
                //- h1 Главная
                //- form
                //-     label(for="email") email
                //-     input(name="email" id="email")
                //-     label(for="password") password
                //-     input(name="password" id="password")
                //-     button Войти