$white: #efeee9;
$beige: #eeebdf;
$green: #16c2aa;
$text-color: #455a64;
$grey: #373e42;
$light-grey: #dfdcd5;


@import 'normalize.css';
@import 'layout/fonts';
@import 'layout/mixins';
@import 'layout/base';
@import 'pages/about';
@import 'common/menu';
@import 'common/technologies';
@import 'common/slider';
@import 'common/_socials';
@import 'common/_humburger';
